* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */

html {
	height: 100%;
}

body {
    line-height: 1.7em;
    color: white;
    font-size: 13px;
    background-color: #4d0d0f;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-family: verdana, georgia, sans-serif;
    /*background-color: black;*/
}

.pure-g h4 {
    color: white;
}

#teamstatus {
    text-align:center;
}


#news .content-subhead{
    margin-top:0px;
    margin-bottom:0px;
}

#news .l-box{
    text-align:center;
}

#news h4.content-subhead{
    font-size: 0.8em;
}

#scoreboard .pure-g .pure-u{
    vertical-align: middle;
}

#scoreboard .pure-g {
	border: 1px solid white;
	display: block;
/*background-color: #4d0d0f;*/
}
/**/
/*#scoreboard .pure-g:nth-child(even) {*/
/*background-color: #991E22;*/
/*}*/
/**/
#scoreboard .pure-g:first-child {
	font-weight: bold;
	/*background-color: #383838;*/
}
/**/
#scoreboard table.pure-g {
/*border: 4px solid green;*/
	border-collapse: separate;
	border-spacing: 0;
}

#infosTask {
	letter-spacing: initial;
}

#exit {
    text-align:center;
}

#exit img{
    margin-top: 15px;
    cursor: pointer;
}

#hideshow {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.popup_block {
    background:#000;
    padding: 1px 10px;
    border:1px solid white;
    border-radius: 10px;
    float:left;
    min-width: 700px;
    width: 0px;
    position:fixed;
    top:5%;
    left:45%;
    margin:0 0 0 -250px;
    z-index:100;
}
.popup_block .popup {
    float:left;
    width:100%;
    border-radius: 10px;
    background:black;
    margin:10px 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border:1px solid white;
}

.popup h3 {
    text-align: center;
    margin-top:0px;
    margin-bottom:0px;
    font-size:1.5em;
    font-weight:normal;
}
.popup p {
    padding:5px 10px;
    margin:5px 0;
}
.popup img.cntrl {
    position:absolute;
    right:-20px;
    top:-20px;
}

.required label{
    color:white;
}



h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #c72127;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

.errors {
    display:none;
}
/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 4px 1em;
}

.l-box p {
    word-wrap: break-word;
    margin: 0;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.my-pure-button {
    background-color: #000000;
    color: white;
    padding: 0.4em 1em;
    border-radius: 5px;
    background-size: 100% 100%;
    min-width: 200px;
    min-height: 128px;
    padding-top: 30px;
    display:inline-block;
    *display:inline;
    zoom:1;
    line-height:normal;
    white-space:nowrap;
    vertical-align:baseline;
    text-align:center;
    cursor:pointer;
    -webkit-user-drag:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
    font-family:inherit;
    font-size:100%;
    *font-size:90%;
    *overflow:visible;
    padding:3em 1em;
    border:1px solid #999;
    border:0 rgba(0,0,0,0);
    text-decoration:none;
    border-radius:2px;
}

.my-pure-button::-moz-focus-inner{
    padding:0;border:0
}

.pure-button-spacer {
    width: 2%;
}


.pure-button{
    background-color: #000000;
    font-weight: bold;
    color: white;
}

.red{
    background-color: #c72127;
    padding:5px;
}


.pure-button-primary{
    background-color: #000000;
    font-weight: bold;
}

a.pure-button-primary {
    background: white;
    color: #6a6a6a;
    border-radius: 5px;
    font-size: 120%;
}

.task-button {
    width: 31%;
    margin-bottom:10px;
}

.task-button:hover {
    width: 31%;
    margin-bottom:10px;
}

.solved-button {
    width: 31%;
    margin-bottom:10px;
}

.solved-button:hover {
    width: 31%;
    margin-bottom:10px;
}
/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: right;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: #2d3e50;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
     /* Fixed menus normally have a border at the bottom. */
    background-repeat: no-repeat;
    background-size: 432px;
    background-position: left;
    max-height: 64px;
    background-color: #000000;
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #c72127;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #4d0d0f;
}

#logo {
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
    padding-top: 50px;
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
	/*background: #4d0d0f;*/
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    /*height: 88%;*/
    /*position: fixed !important;*/
    position: fixed;
	height: 100%;
	/*padding: 20px;*/
}

.splashu {
    /* absolute center .splash within .splash-container */
    width: 70%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 10%; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 70%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 30%; bottom: 0; right: 0;
    text-align: center;
    /*text-transform: uppercase;*/
}

#pad .pure-g {
	position: relative;
	z-index: 3;
}

#parent {
    min-width:900px;
    width: 100%;
    height: 80%;
}

#pad {
    background: #4d0d0f;
    min-width:700px;
    /*width: 63%;*/
    /*height: 80%;*/
    /*border: 1px solid rgb(160, 160, 160);*/
    /*border-radius: 6px;*/
    padding: 10px;
    padding-top: 50px;
    z-index: 2;
    /*position: relative;*/
    /*-webkit-box-shadow: 0px 2px 17px 1px rgba(196,194,196,0.93);*/
    /*-moz-box-shadow: 0px 2px 17px 1px rgba(196,194,196,0.93);*/
    /*box-shadow: 0px 2px 17px 1px rgba(196,194,196,0.93);*/
    /*margin-bottom: 5px;*/
}

#news{
    width: 100%;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    z-index: 2;
    position:relative;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.splash-canvas {
    /* absolute center .splash within .splash-container */
	/*margin-left: 3%;*/
	/*margin-top: 5%;*/
    position: absolute;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
	width: 80%;
	max-height: 80%;
    z-index: 0;
    /*height: 90%;*/
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    min-width: 900px;
    width:100%;
    min-height: 12%;
    z-index: 2;
    background: black;

}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #c72127;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
}

/* We want to give the content area some more padding */
.content {
    padding: 3em;
}

.splash-head {
        font-size: 100%;
}
